[Unit]
Description=Test Cluster Manager service

[Service]
Type=forking
ExecStart=/usr/sbin/cmserver start
ExecStop=/usr/sbin/cmserver stop
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
User=root

[Install]
WantedBy=multi-user.target
