[Unit]
Description=Cluster Manager Agent service

[Service]
Type=forking
ExecStart=/usr/sbin/cmagent start --config-file=/etc/cmagent/cmagent.yaml
ExecStop=/usr/sbin/cmagent stop
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
User=root

[Install]
WantedBy=multi-user.target
